section {
  width: 100%;
  height: 100%;
  background: white;
  margin: auto;
  padding: 3px;
}
div#leftpane {
  width: 15%;
  height: 100%;
  background: white;
  float: left;
}
div#phaser_here {
  margin-left: 15%;
  height: 100%;
  background: wheat;
}
